@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --rounded-box: 1rem;
    --rounded-btn: 0.3rem;
    --rounded-badge: 0.3rem;
    font-family: "Noto Sans", Roboto, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

.input, .select {
    background-color: hsl(var(--b2) / var(--tw-bg-opacity));
}

.toastui-editor-dark .toastui-editor-contents table th {
    @apply bg-neutral-800 font-bold;
}

.toastui-editor-dark .toastui-editor-toolbar-icons {
    @apply text-white;
}

.toastui-editor-md-tab-container {
    background-color: #232428 !important;
    border-bottom-color: #303238 !important;
}

.toastui-editor-dropdown-toolbar {
    flex-wrap: wrap;
    height: auto !important;
}

.toastui-editor-contents,
.ProseMirror {
    font-size: unset !important;
    font-family: unset !important;
}
.toastui-editor-contents p {
    margin: unset !important;
}
